<a href="https://colab.research.google.com/github/Bhargav1603/DataStore_assign1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

def parse_filter_expression(df, expression):
    """Helper function to parse and evaluate filter expression on DataFrame."""
    return df.query(expression)

def filter_csv_in_pages(file_path, filter_expression, page_size=50):
    """Reads a CSV file and returns rows matching the filter criteria in pages of specified size."""
    chunk_size = 10000  # Adjust chunk size as needed to balance memory usage and performance
    chunks = pd.read_csv("/sample_data.csv", chunksize=chunk_size)

    current_page = []

    for chunk in chunks:
        filtered_chunk = parse_filter_expression(chunk, filter_expression)
        for _, row in filtered_chunk.iterrows():
            current_page.append(row)
            if len(current_page) == page_size:
                yield current_page
                current_page = []

    # Yield any remaining rows that didn't fill a complete page
    if current_page:
        yield current_page

# Example usage
file_path = '/sample_data.csv'
filter_expression = '(((name == "Practo") and (name != "Dogreat" )) or (age <= 30))'

for page in filter_csv_in_pages(file_path, filter_expression):
    print(page)

[id               1
name          John
age             28
city      New York
salary       60000
Name: 0, dtype: object, id                  3
name              Doe
age                23
city      Los Angeles
salary          48000
Name: 2, dtype: object, id              5
name       Practo
age            30
city      Chicago
salary      90000
Name: 4, dtype: object, id            7
name       Mike
age          29
city      Miami
salary    52000
Name: 6, dtype: object, id             9
name         Sam
age           27
city      Dallas
salary     58000
Name: 8, dtype: object, id            10
name         Amy
age           26
city      Austin
salary     47000
Name: 9, dtype: object, id             12
name          Leo
age            24
city      Phoenix
salary      45000
Name: 11, dtype: object, id              14
name        Practo
age             45
city      San Jose
salary       92000
Name: 13, dtype: object, id               16
name         Olivia
age              28
city      Charlotte
salary        63000
Name: 15, dtype: object, id                  17
name               Eva
age                 22
city      Indianapolis
salary           43000
Name: 16, dtype: object, id             20
name       Sophia
age            25
city      Memphis
salary      49000
Name: 19, dtype: object, id              21
name        Practo
age             37
city      Portland
salary       70000
Name: 20, dtype: object, id                   23
name               Liam
age                  27
city      Oklahoma City
salary            53000
Name: 22, dtype: object]